*
!submodules/*
!.gitignore
!*/
!Makefile
!README.md
!git_hooks/*

!common/**/*.vhd
!common/**/*.tcl
!common/**/*.xci
!common/**/*.bd

!targets/*/ruckus.tcl
!targets/*/Makefile
!targets/*/vivado/*.tcl
!targets/*/images/*.bit
!targets/*/images/*.ltx
!targets/*/images/*.xsa

!petalinux/system-user.dtsi

work
build